Package: com.phillipt.shadowboard
Name: ShadowBoard
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Give your icons a parallax shadow effect
Maintainer: Phillip Tennen
Author: Phillip Tennen
Section: Tweaks
